---
layout: layouts/home.njk
banner: /img/jasaoptimtimasiwebsiteseo.webp
intro: Optimasi
introtext1: Sempurnakan website mu dengan layanan SEO kami, untuk memperbaiki struktur pada situs mu. team kami akan melakukan analisa terhadap website mu terlebih dahulu, selanjutnya bekerja dengan memperbaiki script yang membebani situs, bahkan menyarankan perubahan tema agar hasil yang maksimal untuk optimasi situs.
introtext2: Saatnya raih hasil sempurna via google lighthouse untuk cek skor website mu,prioritas hasil yang terbaik dalam optimasi.
introtext3: Mulai sekarang gunakan layanan optimasi kami.
concept: Konsep.
concept1: Analisa Website
concepttext1: Team akan menganalisa situs terlebih dahulu, selanjutnya melaporkan ke kamu apa saja yang perlu di perbaiki.
concept2: Optimasi Website
concepttext2: Selanjutnya kami melakukan optimasi dengan menghapus beberapa script yang memberatkan dan melakukan injeksi auto SEO.
concept3: Test Peforma
concepttext3: Dan ya setelah selesai melakukan optimasi tentunya kami akan melakukan uji coba peforma via google lighthouse dan melaporkan ke kamu.
solution: Solusi.
solutionbanner: /img/caraoptimasikinerjawebsite.webp
solutiontext1 : Dan ya kami memberikan masukan kepada mu untuk kebutuhan optimasi situs mu.
solutiontext2: Selain itu juga untuk kebutuhan migrasi mengembangkan ulang situs dengan menggunakan teknologi modern seperti static site generator, single page app, dan flatfile maupun headless cms untuk hasil sempurna.
peform: UJI PEFORMA.
peformbanner: /img/seooptimasiwebsitemobilespeed.webp
peform1: SEMPURNA
peformtext1: Kebutuhan untuk skor yang sempurna dengan menggunakan tema minimalis adalah pilihan yang tepat.
peform2: PERBAIKAN
peformtext2: Dan perbaikan skor yang bagus dengan mempertahankan tema lama dapat dilakukan.
order1: Cek Peforma
orderprice1: Rp.150.000/Halaman
ordertext1 : Pengujian kesehatan peforma situs dan memberikan solusi untuk kamu agar bisa memperbaiki sendiri.
orderlink1: https://app.midtrans.com/payment-links/optwebs
order2: Perbaikan Website
orderprice2: Rp.350.000/Halaman
ordertext2 : Membantu dalam menghapus serta memberikan solusi beberapa script yang memberatkan pada situs.
orderlink2: https://app.midtrans.com/payment-links/perbaikanweb
order3: Optimasi Website
orderprice3: Rp.1.050.000/Halaman
ordertext3 : Memperbaiki inerja website termasuk speed dan SEO plus melakukan optimasi untuk kecepatan seperti kompresi gambar dan lain nya.
orderlink3: https://app.midtrans.com/payment-links/optimasi
orderbanner: /img/orderoptimtimasiwebsiteseo.webp
supportbanner: /img/dukunganoptimtimasiwebsiteseo.webp
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 4
---
{% include "widget/contenthome.njk" %}
{% include "widget/order.njk" %}