<h3 class="col-md-4 p-3 p-md-5 text-white">{{order1}}</h3>
<p class="col-md-8 p-3 p-md-5 text-white">{{ordertext1}}<br/><strong>{{orderprice1}}</strong><br/><a href="{{orderlink1}}" class="btn btn-light">Order {{order1}}</a></p>
<h3 class="col-md-4 p-3 p-md-5 text-white">{{order2}}</h3>
<p class="col-md-8 p-3 p-md-5 text-white">{{ordertext2}}<br/><strong>{{orderprice2}}</strong><br/><a href="{{orderlink2}}" class="btn btn-light">Order {{order2}}</a></p>
<h3 class="col-md-4 p-3 p-md-5 text-white">{{order3}}</h3>
<p class="col-md-8 p-3 p-md-5 text-white">{{ordertext3}}<br/><strong>{{orderprice3}}</strong><br/><a href="{{orderlink3}}" class="btn btn-light">Order {{order3}}</a></p>