---
layout: layouts/base.njk
---
<div class="col-md-8 p-3 p-md-5">
<div class="p-3 p-md-5">
<h1><strong><a href="{{page.url}}" class="text-white">{{ title }}</a></strong></h1>
<h2 class="display-4">{{description}}</h2>
<p>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="text-white">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}</p>
</div>
</div>
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid rounded" alt="{{title}}" width="100%" height="100%" src="{{cover}}"/>
</div>

<div class="col-md-12 p-3 p-md-5">
<div class="rounded bg-white text-dark p-3 p-md-5">
{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
</div>
</div>